body{
  font-family: sans-serif;
  font-size:110%;
  background-color: #f18d1a9a;
}

header {
  text-align: center;
  background-color: #1111113b;
}

aside {
  background-color: #1111113b;
}

article {
  background-color: #1111113b;
}

section {
  background-color: #0e09133b;
}

footer {
  background-color: #1111113b;
  text-align: center;
}





